.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-transform: uppercase;
}

.App-main {
  width: 70%;
  margin: 0 auto;
}
